body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.topo{
    background-color: #ffffff;
    height: 80px;
    border-bottom: 1px solid #c5c4c4;
}
.logo{
    max-height: 50px;
}
.login, .login:hover{
    color: #ea1d2c;
}
.rodape{
    border-top: 1px solid #c5c4c4;
}
.categorias{
    border: 1px solid #ea1d2c;
    border-radius: 10px;
    min-height: 70vh;
}
.categorias .categoria{
    border: 1px solid #ea1d2c;
    border-radius: 5px;
    background-color: #ea1d2c;
    color: #ffffff;
    height: 100px;
}
.categorias a .categoria:hover{
    background-color: #c3000d;
}
.categoria h4{
    font-weight: bold;
}
.categoria p{
    font-size: small;
}
.cadastrar-categoria{
    border-right: 1px solid #c5c4c4;
    padding-right: 2rem;
}
a{
    text-decoration: none;
}
.conteudo{
    min-height: 79vh;
}
.td-info{
    align-items: flex-start;
}
.produtos ul{
    padding-left: 0;
}
.produtos ul li{
    color: black;
    list-style-type: none;
    padding-left: 5px;
}
.produtos ul a li{
    background-color: #ffae1f;
    border-bottom: 1px solid black;
}
.produtos ul a li:hover{
    background-color: black;
    color: #ffae1f;
}
.card {
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.21);
    margin-bottom: 1.5rem;
}
.card-body {
display: flex;
flex-direction: column;
}

.card .card-link {
font-weight: bold;
align-self: flex-end;
}

.card .card-title a{
min-height: 50px;
font-size: 0.9rem;
color: #000000;
}

.card .card-title span{
max-width: 200px;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.card .card-text {
color: var(--villa-primary);
margin: 0;
min-height: 125px;
display: -webkit-box;
text-overflow: ellipsis;
overflow: hidden;
-webkit-line-clamp: 6;
-webkit-box-orient: vertical;
}

.card-link{
font-size: small;
color: #ffae1f;
}

.card-link:hover{
color: black;
}

.card img {
width: 100%;
height: 100%;
}

.card-img {
height: 150px;
border-bottom: 2px dashed var(--villa-primary);
}

.card-img img{
object-fit: contain;
}